# Client-only (safe example)
SUPABASE_URL=https://yehfisrddqmsklrsqpzr.supabase.co
SUPABASE_ANON_KEY=137f774f25017a1340beba0d349c895b7ffe3fb9c887d1a3c400c39fa05d8c5b

# Server-only (NOOIT committen met echte waarden)
# SUPABASE_SERVICE_ROLE=__30068a92d7211fed980159b0a90a93ff745c4a89f311e1516d0708f57133a1fb
__
# OPENAI_API_KEY=__REDACTED__


# NETLIFY_AUTH_TOKEN=nfp_uXzZGqM2NpP6QqroyZ8ky4AbN1syYpfd066a

# NETLIFY_SITE_ID= 7e6b26e9-9284-4ce9-9d12-7879cb29405e


# SUPABASE_PROJECT_REF=yehfisrddqmsklrsqpzr
